<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('radio表格页')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "clientuw/core";

        $(function() {
            var options = {
                url: prefix + "/list/uw",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
				columns: [{
					radio: true
				},
				{
					field : 'underwriterId',
					title : '承保商ID'
				},
				{
					field : 'underwriterName',
					title : '承保商名称'
				}]
            };
            $.table.init(options);
        });

		/* 添加用户-选择用户-提交 */
		function submitHandler() {
			var underwriteIds = $.table.selectFirstColumns();
			var underwriteNames = $.table.selectColumns("underwriterName");
			$.modal.close();
			// 把选中的值 赋值给父页面的变量
			parent.$('#underwriteId').val(underwriteIds.join());
			parent.$('#underwriteName').val(underwriteNames.join());
		}
    </script>
</body>
</html>